/* Estilo para ajustar a altura do aside */
/* Estilo para ajustar a altura do aside */
.aside-content {
    min-height: 100vh;
    background-color: #76AFD6; /* Cor desejada */
    position: fixed; /* Fixa o aside na tela */
    right: 65px; /* Define uma distância de px do lado direito da tela */
    top: 0px; /* Alinha o aside ao topo da tela */
    padding: 2px; /* Adiciona um espaçamento interno ao aside */
    margin-top: 4px;
    width: 380px; /* Reduz a largura do aside */
}
 

/* Ajuste de largura para o aside */
.custom-aside {
    width: 100%; /* Definindo a largura do aside para ocupar 100% da largura da coluna */
    margin-top: 13px;
}

/* CSS externo ou na tag <style> */
* {
    border-radius: 8px; /* Define o border-radius padrão para todos os elementos */
}

/* CSS externo ou na tag <style> */
body {
    text-align: left; /* Alinha o texto à esquerda */
    color: #071712; /* Define a cor do texto */
    margin-left: 30px; /* Define uma margem à esquerda de 30px para o corpo */
    margin-right: 30px; /* Define uma margem à direita de 30px para o corpo */
}

/* CSS externo ou na tag <style> */
body {
    background-color: #F8FCFA; /* Define a cor de fundo */
}

/* CSS externo ou na tag <style> */
.container {
    border: 3px solid #98D1E1; /* Define uma borda sólida de 2px */
    padding: 5px; /* Define um padding de 20px ao redor do conteúdo */
}

/* Adiciona margem superior para o grupo de listas */
.list-group {
    margin-top: -9px; /* Ajusta a margem superior para mover o group list para cima */
}

/* Adiciona espaçamento entre cada item da lista */
.list-group-item {
    margin-bottom: 2px;
}
