.footer {
    background: linear-gradient(to right, #24755F, #309C7F);
}

#subscribe-button {
    background: linear-gradient(to right, #24755F, #309C7F);
}

#subscribe-button:hover {
    background: linear-gradient(to right, #2b463e, #2b463e);
}

.linkFooter::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.5s ease, left 0.5s ease;
}

.linkFooter:hover::after {
    width: 100%;
    left: 0;
    background-color: #FFF;
}

.icon {
    color: white;
    font-size: 35px;
}

.icon:hover {
    transform: scale(1.5);
    transition: transform .6s;
}